#!/usr/bin/env python

import sys
import time
import pylast
import subprocess

API_KEY = ""
API_SECRET = ""
USERNAME = ""
PASSWORD = ""
THRESHOLD = 50 # the percentage of the song that must have been played to scrobble

# Run other scripts:
#subprocess.call("sh ~/.config/pianobar/customscript.sh", shell=True)

def main():

  event = sys.argv[1]
  lines = sys.stdin.readlines()
  fields = dict([line.strip().split("=", 1) for line in lines])
  
  # fields: title, artist, album, songDuration, songPlayed, rating, stationName, pRet, pRetStr, wRet, wRetStr
  artist = fields["artist"]
  album = fields["album"]
  title = fields["title"]
  song_duration = int(fields["songDuration"])
  song_played = int(fields["songPlayed"])
  network = pylast.LastFMNetwork(api_key = API_KEY, api_secret = API_SECRET, username = USERNAME, password_hash = pylast.md5(PASSWORD))
  # events: songstart, songfinish, ???
  if event == "songfinish" and song_duration > 0 and 100.0 * song_played / song_duration > THRESHOLD:
    song_started = int(time.time() - song_played / 1000.0)
    network.scrobble(artist = artist, title = title, timestamp = song_started)
  if event == "songstart":
    network.update_now_playing(artist = artist, album = album, title = title, duration = song_duration)
  if event == "songbookmark":
    track = pylast.Track(artist, title, network)
    track.love()

if __name__ == "__main__":
  main()
